
@font-face{
	font-family:"416-Regular";
	src:url("../font/231205_416-Regular.woff2");
}

body{
  margin: 0;
  padding:0;
  border:0;
}

h1, h2, h3, h4, h5, h6 {font-weight:normal}
header, nav, section, article, aside, footer {display:block;}

.header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:10000;
  height:100px;
  background-color: beige;
  padding : 20px 60px 20px 60px;
}

.logo{
  width: 160px;
  height : 56.59px;
  left : 0px;
}

.contents{
  margin: 0;
  padding: 0;
  background-color: honeydew;
}

.footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  z-index:10000;
  min-width:1080px;
  height:64px;
  background-color: lavenderblush;
}