/* 
@font-face{
	font-family:"April16th-Promise";
	src:url("../font/231205_April16th-Promise.woff2");
} */

html{
  scroll-behavior: smooth;
}

@font-face{
  font-family:"April16th-Life";
	src:url("../font/April16th-Life.woff");
}

@font-face{
  font-family:"April16th-Promise";
	src:url("../font/April16th-Promise.woff");
}

@font-face{
  font-family:"April16th-Safety";
	src:url("../font/April16th-Safety.woff");
}

body{
  margin: 0;
  padding:0;
  border:0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, a , p, span, div{font-weight:normal;  font-family:"April16th-Promise";}
header, nav, section, article, aside, footer {display:block;}

.navmenu{
  color:black;
  opacity: 30%;
  font-weight: 400;
}

.copyright{
  color:#FFFFFF;
  font-size: 20px; font-weight: 400; line-height: 32px; letter-spacing: 0em;
}

.navmenu:hover{
  color:#FFE100;
  opacity: 100%;
}

.header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:10000;
  height:100px;
  /* background-color: #ffffff; */
  padding : 20px 60px 20px 60px;
}

.header_right{
  right:0;
}

.section1{
  margin-top:7rem;
}

.section1_title{
  color: #FFE100;
  font-size: 53rem;
  bottom:0;
  margin-left: 10rem;
}

.header_left{
  right:0;
}

.logo{
  width: 10rem;
  left : 0px;
}

.contents{
  margin: 0;
  padding: 0;
}

.footer{
  margin-top : 10rem;
  padding : 20px 60px 20px 60px;
  bottom:0;
  left:0;
  width:100%;
  z-index:10000;
  min-width:1080px;
  height:84px;
  background-color: #FFE100;
}

.logo2{
  width: 160px;
  height: 57px;
  top: 11px;
  left: 1680px;
}

.main_video video{
  width: 100%;
}

.ocean { 
  width:100%;
  /* position:absolute; */
  /* bottom:100px; */
  left:0;
  bottom:10rem;
  position:relative;
}

.title2{
  margin-top : 7.5rem;
  width:54.5rem;
  float:right;
}

.title2 p{
  color: black;
  width:68rem;
  z-index:500;
  font-size:2.5rem;
  text-align:left;
  float:right;
  margin-right:5rem;
}

.wave {
  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;  */
  background: url(../image/wave.svg) repeat-x; 
  position: absolute;
  /* top: -198px; */
  width: 400rem;
  height: 12.5rem;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  opacity:0.7;
  bottom:0;
}

.wave:nth-of-type(2) {
  background: url(../image/wave2.svg) repeat-x; 
  /* top: -175px; */
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity:0.7;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

.section2{
  margin-top:69.2rem;
  text-align: center;
}

.title3{
  width:100%;
  display: inline-block;
}

.title3 p{
  text-align:center;
  color:black;
  font-size:2.7rem;
  width:76rem;
  margin:auto;
}

.title4{
  width:100%;
  margin-top: 10rem;
  display: inline-block;
}

.title4 div{
  margin:auto;
  width:76rem;
}

.title4 div video{
  width : 100%;
}

.title4 p{
  font-size:16rem;
  color: #FFE100;
  text-align:left;
  margin:auto;
}

.title5{
  width:100%;
  margin-top: 3rem;
  display: inline-block;
}

.title5 div{
  margin-left: 75rem;
  width:35.5rem;
}

.title5 .p_title{
  font-size:2.8rem;
  color: black;
  text-align:left;
  margin:auto;
}

.title5 .p_content{
  font-size:2rem;
  color: black;
  text-align:left;
  margin:auto;
}



/*  */

.scrolling_text {
  margin-top: 10rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  background-color: #FFE100;
}

.text {
  font-size: 20rem;
  color: black;
  animation: animate_text 30s linear infinite; /* The animation property */
}

@keyframes animate_text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.title6{
  width:100%;
  margin-top: 10rem;
  display: inline-block;
}

.title6 div{
  margin-left: 30rem;
  width:35.5rem;
}

.title6 .p_title{
  font-size:2.8rem;
  color: black;
  text-align:left;
  margin:auto;
}

.title6 .p_content{
  font-size:2rem;
  color: black;
  text-align:left;
  margin:auto;
}

/* 비교 부분 */

.title7{
  width: 100%;
  display:inline-block;
}

.title7_div{
  margin:auto;
  height: 25rem;
  width: 100rem;
  justify-content : center;
  display: flex;
}

.img-comp-container {
  position: relative;
  margin-top: 16rem;
  width: 62.5rem;
}

.img-comp-img {
  /* margin:auto; */
  width: 100rem;
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  /* height: 25rem;  */
  width: 62.5rem;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 2.5rem;
  height: 2.5rem;
  /* background-color: #2196F3; */
  background-image: url(../image/compare_btn.png);
  /* opacity: 0.7;
  border-radius: 50%; */
  background-size: cover;
}


.title8{
  width:100%;
  margin-top: 20rem;
  display: inline-block;
}

.title8 div{
  margin: auto;
  width:72rem;
}

.title8 .p_title{
  font-size:2.8rem;
  color: black;
  text-align:left;
  margin:auto;
}

.title8 .p_content{
  font-size:2rem;
  color: black;
  text-align:left;
  margin:auto;
}


.title9{
  width: 100%;
  margin-top: 16rem;
  margin-bottom: 10%;
  text-align: center;
}
 
.btn_div{
  display: inline-block;
  text-align: center;
}
 
.preview_btn{
  float: left;
  width: 4.563rem;
  height: 2.813rem;
  font-family:"April16th-Promise";
  border: 0.125rem solid #CCCCCC;
  margin-left: 1rem;
  margin-right: 1rem;
  color:#CCCCCC;
  font-size: 1.75rem;
  text-align: center;
  cursor: pointer;
}

.active{
  background-color: #FFE100 !important;
  color : #ffffff !important;
  border : #FFE100 !important;
}

.preview_div{
  display:inline-block;
  margin:auto;
}

.life_preview{
  width : 100rem;
  display:grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  margin-top: 4rem;
  text-align:center;
  border-top: 0.1rem solid #CCCCCC;
  border-left: 0.1rem solid #CCCCCC;
}

.item {
  width: 100%;
  height: 100%;
  text-align: center;
  /* color: #000000; */
  font-size: 6rem;
  /* font-family:"April16th-Life"; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-right: 0.1rem solid #CCCCCC;
  border-bottom: 0.1rem solid #CCCCCC;
}

.section3{
  margin-top : 19.4rem;
  text-align: center;
}

.section3 .p_title{
  font-size : 7rem;
}

.section3 .p_content{
  margin-top: 4rem;
  font-size : 2.5rem;
}

.section3 .preview{
  text-align: center;
  margin-top: 8rem;
  display: inline-block;
  height : 40rem;
  width: 80rem;
}

.preview_typing{
  float: left;
  text-align: center;
  background-color: #FFFCE3;
  width: 40rem;
  height : 40rem;
  margin: auto;
  font-family: "April16th-Promise";
  font-size: 4.5rem;
  line-height : 40rem;
  margin-right : 2.2rem;
  border : 0.125rem solid #DDDDDD;
  background-size: cover;
}

.left{
  margin-left : 2.2rem;
  display: inline-block;
}

.left .title{
  font-size : 1.6rem;
  color : #999999;
  text-align: left;
}

.select_font{
  text-align: left;
  margin-right: 0.75rem;
  display:inline-block;
}

.select_size{
  display: inline-block;
}

.weight-box{
  float: left;
  border: 0.125rem solid #EFEFEF;
  padding:  0px, 0.75rem, 0px, 0.75rem;
  width: 3.438rem;
  height: 2.25rem;
  text-align: center;
  color : #CCCCCC;
  font-size: 1.25rem;
  margin-right: 0.74rem;
  text-align: center;
  line-height : 2.25rem;
  cursor: pointer;
  border-radius: 0.2rem;
}

.select_size div{
  float:left;
  margin-right: 0.156rem;
}

.div_range div{
  margin-right: 0.75rem;
}

.select_size span{
  font-size: 1rem;
}

#customRange1 {
  background: linear-gradient(to right, #FFE100 0%, #FFE100 50%, #FFE100 50%, #FFE100 100%);
  height : 0.2rem;
  width: 13.3rem;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  accent-color: #FFE100;
  margin-top: 0.9rem;
}

.first{
  width:100%;
}

.second{
  width:100%;
  margin-top: 3.313rem;
}

.select_background{
  display:inline-block;
  margin-top: 3.313rem;
}

.button_div{
  display:inline-block;
  margin-top: 4.875rem;
}

.background-box{
  width: 8rem;
  height: 8rem;
  float:left;
}

#img1{
  background-image: url(../image/background_img1.png);
  background-size: cover;
  margin-right: 0.792rem;
}

#img2{
  background-image: url(../image/background_img2.png);
  background-size: cover;
  margin-right: 0.792rem;
}

#img3{
  background-image: url(../image/background_img3.png);
  background-size: cover;
  margin-right: 0.792rem;
}

#img4{
  background-image: url(../image/background_img4.png);
  background-size: cover;
  margin-right: 0.792rem;
}

.active2{
  border : 0.125rem solid #FFE100;
}

.background_img_txt{
  width : 100%;
  margin-top:0.75rem;
  display:inline-block;
}

.background_img_txt p{
  width: 8rem;
  height: 3rem;
  float:left;
  margin-right: 0.792rem;
  font-size : 1.25rem;
  color: #CCCCCC;
}

.save{
  float:left;
  width: 23.625rem;
  height : 6rem;
  background-color:#FFE100;
  color: black;
  line-height:6rem;
  font-size:2.5rem;
  margin-right:1.75rem;
}

.reset{
  float:left;
  width: 6rem;
  height : 6rem;
  border : 0.125rem solid #DDDDDD;
  color: #DDDDDD;
  line-height:6rem;
  font-size:2.5rem;
}

/* 
.upload{
  float:left;
  width:27.375rem;
  height : 6rem;
  line-height : 6rem;
  border : 0.125rem solid #FFE100;
  color: #000000;
  line-height:6rem;
  font-size:2.5rem;
} */


/* 다운로드 */
.section3{
  margin-top : 12.125rem;
  text-align: center;
}